.mainContainer{
    background-color: #464749;
}
.bxs-map{
    padding-right: 10px;
    padding-top: 5px;
    font-size: 35px;
}
.bxs-envelope, .bxs-phone {
    padding-top: 10px;
    font-size: 35px;
}
    @media (max-width: 992px) {


        .d-flex {
            flex-wrap: wrap;
        }

        p {
            width: 100% !important;
        }
        .bxs-map {
            padding-right: 0;
            padding-top: 10px;
            font-size: 25px;
        }

        .bxs-envelope, .bxs-phone {
            padding-right: 0;
            padding-top: 10px;
            font-size: 25px;
        }
    }