
@font-face {
font-family: 'optima';
  src: local('optima'), url(../assets/vendor/icofont/optima/Linotype\ -\ OptimaLTPro-Black.otf) format('truetype');
  src: local('optima'), url(../assets/vendor/icofont/optima/Linotype\ -\ OptimaLTPro-BlackItalic.otf) format('truetype');
  src: local('optima'), url(../assets/vendor/icofont/optima/Linotype\ -\ OptimaLTPro-BoldItalic.otf) format('truetype');
  src: local('optima'), url(../assets/vendor/icofont/optima/Linotype\ -\ OptimaLTPro-Medium.otf) format('truetype');

}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  color: #444444;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  font-family: "optima" !important;
}
* {
  font-family: "optima" !important;
  line-height: 22pt;
}

a {
  color: #00aeef;
  font-family: "optima";
  text-decoration: none !important;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "optima";
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  /* font-weight: 700; */
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #00aeef;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  /* font-weight: 700; */
}

.section-title h3 span {
  color: #00aeef;
}

.section-title p {
  margin: 15px auto 0 auto;
  /* font-weight: 600; */
}

@media (min-width: 1024px) {
  .section-title p {
    width: 70%;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  background: #00aeef;
  color: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  min-height: 50px;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
}

#header.header-inner-pages {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#header .logo a {
  color: #556270;
}

#header .logo img {
  height: 80px;
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
    display: none;
  }

}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.nav-menu ul {
  margin: 0;
  padding: 0;
  /* padding-right: 50px; */
  list-style: none;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.nav-menu {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 20px 0 20px 0px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 600;
  padding: 0 20px;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #333;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before,
.nav-menu li:hover > a:before,
.nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  color: #333;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 26px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #00aeef;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.5);
  border-radius: 5px;
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  text-transform: none;
  color: #fff;
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
  color: #333;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }

  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }

  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */

.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #222222;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #222222;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #00aeef;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*******************************************/

/* main logo */

.main_logo {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;
}

.main_logo img {
  max-width: 100%;
  height: auto;
}

/* Links */

a,
a:focus,
a:hover {
  color: #9bdff9;
}

/* Custom default button */

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #00aeef;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 0.05rem solid #fff;
}

/*--------------------------------------------------------------
# hero
--------------------------------------------------------------*/

.hero {
  background: #00AEEF;
  padding-top: 55px;
  padding-bottom: 36px !important;
}

.underHero,
.push {
  background: #fff;
  color: #5D5E60;
  /* border-bottom: 1px solid #00AEEF; */
  flex-shrink: 0;
  padding: 20px 0;
}

  .underHero .stext img {
      width: 250px;
  }

  .underHero p {
      font-weight: 600;
      font-size: 18px;
      color: #6B6B6E;
  }

  .underHero .subtext {
      font-weight: 600;
      color: #6B6B6E;
  }

section {
  display: flex;
  flex: 1;
}

.underHero .link i {
  color: #F7921D;
  font-size: 32px;
  padding: 10px;
}

.underHero .social-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 
.hero {
  background: #00aeef;
   padding: 60px 0;
}


.underHero,
.push {
  background: #fff;
  color: #5d5e60;
  /* border-bottom: 1px solid #00AEEF; 
  flex-shrink: 0;
  padding: 20px 0;
}

.underHero .stext img {
  width: 250px;
}

.underHero p {
  font-weight: 600;
  font-size: 18px;
  color: #6b6b6e;
}

.underHero .subtext {
  font-weight: 600;
  color: #6b6b6e;
}

section {
  display: flex;
  flex: 1;
}

.underHero .link {
  background-color: #f7921d;
  border-radius: 50%;
  padding: 5px;
}

.underHero .social-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */
/* 
@media (max-width: 992px) {
  .hero{
    padding-top: 75px;

  }
  #hero .container {
    height: 100%;
  }
  #hero .row {
    height: 100%;
  }
  .hero .w3-display-container img {
    object-fit: contain;
  }
  .underHero .social-right {
    margin-top: 20px;
    justify-content: center !important;
  }
  .underHero {
    height: 25vh;
  }
  .hero {
    height: 75vh;
  }
  .slider {
    height: 240px !important;
  }
  .col-md-7 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .main_logo {
    width: 45%;
    margin: 0 auto;
  }
  .logo{
    display: none;
  }
  .underHero .stext  {
   text-align: center;
  }
} */

/*  */
/* 
@media (min-width: 768 )and( min-height:1024px) {

  .hero{
    height: 45vh !important;

  }
  .underHero {
    height: auto;
  }

}


@media (max-width: 768px) {
  .hero {
    height: 100vh;
  }

}

@media (max-height: 500px) {
  .hero {
    height: 120vh;
  }
}

@media (max-height: 1024) {
  .hero {
    height: 40vh;
  }
} */
/*--------------------------------------------------------------
# solutions
--------------------------------------------------------------*/

.solutions {
  /*background: url("../img/icons-07.png") bottom right;*/
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.solutions .container {
  /* padding: 50px 0; */
}

.solutions h4 {
  color: #00aeef;
}

.solutions .mainTitle {
  color: #00aeef;
  font-family: "optima";
  font-size: 50px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 500;
}

.colm {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  padding-right: 20px;
}

.solutions .title {
  color: #6b6b6e;
  font-size: 35px;
}

.solutions .box-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #6b6b6e;
}

.solutions .icon {
  justify-content: flex-end;
  display: flex;
  flex: 1;
}

.solutions .description {
  color: #111;
}

.solutions h3 {
  color: #333;
}

@media (max-width: 768px) {
  .title {
    padding: 10px;
  }

  .colm {
    padding: 10px;
  }

  .solutions .icon-box {
    padding: 10px;
  }
  
}
.mobile-content{
display: flex;
}
.web-content{
  display: none ;

}
@media (max-width: 992px) {
  .solutions .mainTitle {
  
    font-size: 35px !important;
  
  }
 .solutions .title{

    font-size: 30px !important;
  }
  .mobile-content{
    display: none !important;
  }
  .web-content{
    display: flex ;
  
  }
}
.solutions .icon-box {
  margin-bottom: 10px;
  padding: 20px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  overflow: hidden;
  /* background: #fff; */
  /* box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12); */
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  /*min-height: 371px;*/
}

.solutions .icon-box::before {
  content: "";
  position: absolute;
  /* background: #cbe0fb; */
  background: rgba(0, 174, 239, 0.3);
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.solutions .icon-box:hover::before {
  /* background: #00AEEF; */
  top: 0;
  border-radius: 0px;
}

.solutions .icon {
  /* margin-bottom: 15px; */
}

.solutions .icon img {
  /* font-size: 32px;
    line-height: 1;
    color: #00AEEF; */
  transition: all 0.3s ease-in-out;
}

.solutions .box-title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
  padding-left: 15px;
  color: #111;
}

.solutions .box-title a {
  color: #111;
}

.solutions .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  border-left: 5px solid #00aeef;
  padding-left: 10px;
}

.solutions .icon-box:hover .box-title,
.solutions .icon-box:hover .description {
  /* color: #fff; */
}

.solutions .icon-box .icon img {
  width: 50px;
  height: 50px;
}

/*--------------------------------------------------------------
#  industeries => hero2 Section
--------------------------------------------------------------*/

.hero2 {
  width: 100%;
  margin-top: 0px;
  /* height: 50vh; */
  /* background: url("../img/hero-bg.jpg") top left; */
  background-size: cover;
  position: relative;
  color: #fff;
  background-position: center;
}

.hero2:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.hero2 .container {
  position: relative;
  padding-top: 0px;
}
 .container-responsive{
    display: none ;
}
 #container-responsive{
  display: none ;

}
@media (max-width: 992px) {
  .hero2 .container {
    padding-top: 20vh;
  }
  .hero2{
    height: 30vh !important;

  }
  .hero2 .container h2{
display: none;
  }
  .hero2 .container p{
    display: none;
      }
        .container-responsive{
          display: block !important;
      }
      .container-responsive h1{
      font-size: 24px;
    }
}

.hero2 h1 {
  margin: 0;
  font-size: 35px;
  font-weight: 700;
  /* line-height: 56px; */
  color: #fff;
  font-family: "optima";
}

.hero2 h1 span {
  color: #00aeef;
}

.hero2 h2 {
  color: #fff;
  margin: 5px 0 30px 0;
  font-size: 50px;
  font-weight: 400;
}

.hero2 .btn-get-started {
  font-family: "optima";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #00aeef;
}

.hero2 .btn-get-started:hover {
  background: #247cf0;
}

.hero2 .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 25px;
  color: #222222;
  position: relative;
  font-weight: 600;
}

.hero2 .btn-watch-video i {
  color: #00aeef;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

.hero2 .btn-watch-video:hover {
  color: #00aeef;
}

.hero2 .btn-watch-video:hover i {
  color: #3b8af2;
}

@media (min-width: 1024px) {
  .hero2 {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  .hero2 {
    height: 100vh;
  }

  .hero2 h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero2 h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero2 .btn-get-started,
  .hero2 .btn-watch-video {
    font-size: 13px;
  }
}

@media (max-height: 500px) {
  .hero2 {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# industeries => Featured Services
--------------------------------------------------------------*/

.featured-services .icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #f2f2f2;
  /* box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12); */
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  z-index: 1;
  min-height: 371px;

}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  /* background: #00AEEF;
    top: 0;
    border-radius: 0px; */
}

.featured-services .icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.featured-services .icon .icoImage {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  padding-bottom: 0;
  font-size: 18px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.featured-services .description span {
  font-weight: 600;
  display: block;
}

.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description {
  /* color: #fff; */
}

.featured-services .icon-box:hover .icon i {
  /* color: #fff; */
}

/*--------------------------------------------------------------
# graph
--------------------------------------------------------------*/

.graph {
  padding: 0;
}

.graph .logo-graph {
  height: 250px;
  width: 250px;
  display: block;
  /* width: 100%; */
}

.graph .left-txt {
  background: #00aeef;
  color: #fff;
  display: flex;
  flex: 1;
  align-items: center;
  flex-direction: column;
  padding: 40px;
}

.graph .left-txt p {
  width: 250px;
}

.graph .right-txt {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.graph .top-right-txt {
  display: flex;
  flex: 1;
  align-items: center;
  background: #fff;
  color: #00aeef;
  padding: 40px;
}

.graph .bottom-right-txt {
  display: flex;
  flex: 1;
  align-items: center;
  background: #ccc;
  color: #fff;
  padding: 40px;
}

/*--------------------------------------------------------------
# products
--------------------------------------------------------------*/

.products .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.products .content ul {
  list-style: none;
  padding: 0;
}

.products .content ul li {
  display: flex;
  align-items: flex-start;
  /* margin-bottom: 35px; */
}

.products .content ul li:first-child {
  /* margin-top: 35px; */
}

.products .content ul i {
  /* background: #fff; */
  /* box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12); */
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #00aeef;
  border-radius: 50px;
}

.products .content ul h5 {
  font-size: 18px;
  color: #00aeef;
}

.products .content ul p {
  font-size: 15px;
  color: #333;
}

.products .content p:last-child {
  margin-bottom: 0;
}

.products .content ul a.itm-link img {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.products .content ul a.itm-link:hover p,
.products .content ul a.itm-link:hover h5 {
  color: #333;
}

.products .content ul a.itm-link:hover i {
  background: #00aeef;
  color: #fff;
}

/*--------------------------------------------------------------
# slider
--------------------------------------------------------------*/

.slider {
  display: flex;
  flex: 1;
  align-items: center;
  height: 500px;
  width: 100%;
}

.w3-content {
  /* border: #fff solid 3px; */
  height: 100%;
}

.w3-content img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.mySlides {
  display: none;
}

.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.w3-display-bottommiddle {
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team {
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(16, 110, 234, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #3b8af2;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  display: flex;
  flex: 1;
  justify-content: center;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #00aeef;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# about us
--------------------------------------------------------------*/

.about-us-sec {
  background-color: #00aeef;
  font-size: 18px;
}

.about-us {
  color: #fff;
  padding: 50px 0;
  /* text-align: center; */
}

.images {
  margin: 20px 0;
}

.responsive {
  height: 250px;
  width: 100%;
  margin: 10px;
}

.title {
  font-family: "optima";
  font-weight: 600;
  font-size: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.center {
  display: flex;
  flex: 1;
  justify-content: center;
}

@media (max-width: 992px) {
  #about-us .title {
    font-size: 30px;
  }
  #about-us .responsive {
    display: none;
  }
  #about-us .images {
    display: none;
  }
  .sub-title {
    font-size: 17px !important;
  }
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials {
  padding: 80px 0;
  background: url("../assets/img/testimonials-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4) !important;
}

.testimonials .owl-dot span {
  display: none !important;
}

.testimonials .owl-dot.active {
  background-color: #00aeef !important;
}

@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #00aeef;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #00aeef;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #00aeef;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #3b8af2;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #fff;
  color: #00aeef;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #3284f1;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
